body {
    font-family: 'Outfit', sans-serif;
    background-color: #01161E;
}


h3 {
    font-family:'Outfit', sans-serif;
    color: #f0f0f0; 
    margin-right: 20px;
}

header {
    background-color: #124559;  
    padding: 1px;
    padding-left: 30px;            
    text-align: left;         
    border-radius: 15px;        
    display: flex;      
    margin: 10px auto;         
    width: 1189px;                
    height: 59px;
    margin-top: 25px;
    position: relative;    /* Added to give header a positioning context */
}

p {
    font-family: 'Outfiit', sans-serif;
    color: #f0f0f0;
    font-style: normal;
    font-weight: 200;
}
  
h4 {
    font-family: 'Outfiit', sans-serif;
    color: #f0f0f0;
    display: inline-block; /* Display h3 and h2 side by side */
    font-weight: 200;
}

h4 a[href*="Sign Up"] {
    font-weight: 600;
}


.light_circle {
    width: 180px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 300px;
    background: #EFF6E0;
    filter: blur(150px);
    position: absolute;
    margin-top: 25px;
    left: 50px;  
    z-index: -1;         /* Sends the div behind the header */
}

.morepowerful_lightcircle {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 300px;
    background: #AEC3B0E5;
    filter: blur(150px);
    position: absolute;
    margin-top: 25px;
    left: 50px;  
    z-index: -1;         /* Sends the div behind the header */
}

.button {
    background-color: #598392;
    border: none;
    width: 300px;  /* Adjusted for proper sizing */
    height: 63px;  /* Adjusted for proper sizing */
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 30px;        
    cursor: pointer;
    letter-spacing: 1.6px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: medium;
    line-height: 60px;  /* This centers the text vertically */
    transition: box-shadow 0.33s ease-in; 
    z-index: 1;
    box-shadow: inset 0 0 0 0 #01161E;
    border: 2px solid transparent; 
}

.button:hover {
    box-shadow: inset 300px 0 0 0 #01161E;
    transition: 0.33s all ease;
    border-color: #FFFFFF;
}

.hover-underline {
    display: inline-block;
    position: relative;
    color: #f0f0f0;
}
.hover-underline:after {
    content: '';
    position: absolute;
    width: calc(100% - 10px); /* Adjust width to be slightly smaller than content width */
    transform: scaleX(0);
    height: 2px;
    bottom: -10px; /* This introduces a 10px gap between the text and the underline */
    left: 5px; /* Center the underline */
    background-color: #99a9fb;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}

.hover-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;

  }
  
/*
.button:before{
    transition: 0.5s all ease;
    position: absolute;
    background-color: #01161E;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1; 
}

.button:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
*/
input {
    font-family: 'Outfit', sans-serif;
    color: #f0f0f0; 
}

.shift-right{
    text-align: right;
    padding-right: 1010px;  /* or margin-right, depending on the effect you want */
}

.shift-down{
    margin-top: 35px
}

